<!-- views/index.ejs -->

<!DOCTYPE html>
    <html lang="en">
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="./public/css/bootstrap.css" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
    </head>
    <body id ="grad1">
        <div id="header" align="center">
            Bulletin Board
        </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Bulletin</a></li>
                    <li><a href="board">Post</a></li>
                </ul>
        </div>
    </nav>

    <div class="panel panel-default">
        <div class="panel-body">
            Bulletin Post Here
        </div>
    </div>
  
    </body>
    </html>